.articles-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.articles-wrap {
  width: 80%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 140px 0 140px 0;
}

.articles-section h2::after {
  content: "";
  display: block;
  width: 2px;
  height: 5rem;
  background-color: var(--color-primary);
  transform: rotate(90deg);
  margin: 10px auto 0;
}

.header-articles {
  height: 14%;
  margin: 0 0 5% 0;
}
