.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.cards {
  width: 300px;
  margin: 7px;
  background: white;
  box-shadow: 0 0 27px rgba(1, 1, 1, 0.1);
}

.card-image {
  height: 200px;
  margin-bottom: 1em;
}

.cards img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cards .bar {
  width: 3.5rem;
  height: 3px;
}

.dparagraph {
  padding: 50px 40px;
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES (TABLETS)) ================================ */
@media screen and (max-width: 1024px) {
  .card-articles {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* =================== MEDIA QUERIES (SMALL DEVICES (MOBILE PHONES)) ================================ */
@media screen and (max-width: 600px) {
  .card-articles {
    grid-template-columns: repeat(1, 1fr);
  }

  .wrap {
    padding: 5em 0;
  }
}
