.subscribe-section {
  display: flex;
  flex-direction: column;
  height: 374px;
  justify-content: center;
  align-items: center;
}

.subscribe-section h2,
p {
  margin-bottom: 5%;
}

.subscribe-section input[type="email"] {
  margin-bottom: 10px;
  height: 53px;
  padding-left: 10px;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-display {
  width: 32%;
  height: 68%;
}
