.header-section {
  background-image: url("../../assets/hero.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 95%;
}

.header-link > ul {
  display: flex;
  justify-content: center;
  gap: 67px;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.primary-color {
  color: var(--color-secondary);
}

.header-logo {
  font-size: 32px;
  text-align: left;
}

.header-subscribe {
  text-align: right;
}

.header-subscribe > button > a {
  font-size: 1em;
}

.header-subscribe > button > a:hover {
  color: black;
}
