.header-section {
  background-image: url("../../assets/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80%;
}

.header-section h2::after {
  content: "";
  display: block;
  width: 1px;
  height: 4rem;
  background-color: var(--color-primary);
  transform: rotate(90deg);
  margin: 10px auto 0;
}

.header-link {
  display: flex;
  justify-content: center;
  width: 20%;
}

.link {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 2em;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.primary-color {
  color: var(--color-secondary);
}

.header-logo {
  font-size: 32px;
}
