.footer-section {
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section > div {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
  width: 95%;
}

.socials-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4em;
  height: 100%;
}

.socials-footer > a:hover {
  background: var(--color-secondary);
  color: white;
  border-radius: 50%;
  height: fit-content;
}

.socials-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap: 6em;
}

.socials-footer a {
  color: var(--color-secondary);
  font-size: 3em;
}
